<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBAMP" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBAMP_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
    <add name="DBAMP_WHSE" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBAMP_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadOnly" providerName="System.Data.SqlClient" />
    <add name="DBMEdition01" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBMEdition01_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadOnly" providerName="System.Data.SqlClient" />
    <add name="DBMEdition01_Write" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBMEdition01_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
    <add name="AMPDbEntityContainer" connectionString="metadata=res://*/DataModel.AMPDBEntity.csdl|res://*/DataModel.AMPDBEntity.ssdl|res://*/DataModel.AMPDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JCRDEVESQL01\JCRDEVEXTRA01;initial catalog=DBAMP_Dev;user id=Grace;password=grace;multipleactiveresultsets=True;application name=EntityFramework;applicationintent=ReadOnly&quot;" providerName="System.Data.EntityClient" />
    <add name="DBMEdition01_Entities" connectionString="metadata=res://*/DataModel.DBMEdition.csdl|res://*/DataModel.DBMEdition.ssdl|res://*/DataModel.DBMEdition.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JCRDEVESQL01\JCRDEVEXTRA01;initial catalog=DBMEdition01_Dev;user id=Grace;password=grace;multipleactiveresultsets=True;application name=EntityFramework;applicationintent=ReadOnly&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- EnforceSSL is true in Main/UAT/Production -->
    <add key="EnforceSSL" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LOCALDEBUG" value="true" />
    <!--<add key="TracersUrl" value="http://localhost:55556/Transfer/Index" />-->
    <add key="JcrPortalUrl" value="http://localhost:11111/Login.aspx" />
    <add key="TracersUrl" value="http://localhost:55678/Index.html" />
    <add key="E-DitionUrl" value="http://localhost:55555/" />
    <add key="AmpUrl" value="http://localhost:8284/Transfer/Index" />
    <add key="AdminUrl" value="http://localhost:44444/Login.aspx" />
    <add key="TracersRoboHelpUrl" value="http://localhost:55556/Common/RoboHelp/index.htm" />
    <add key="ERTracersRoboHelpUrl" value="http://localhost:55556/Common/ERRoboHelp/index.htm" />
    <add key="EnterpriseReportingUrl" value="http://localhost:55088/Transfer/Index" />
    <add key="JCRAPI" value="http://services.devb.devjcrinc.com/" />
    <!--<add key="JCRAPI"              value="http://localhost:53421/" />-->
    <!--Timeout Notification Setting -->
    <add key="SessionTimeoutNotificationDuration" value="3" />
    <add key="SMTPserver" value="JCRprintserver.jcaho.net" />
    <add key="FromEmailAddress" value="Tracers_DevB@jcrinc.com" />
    <add key="FromEREmailAddress" value="EnterpriseReporting_DevB@jcrinc.com" />
    <add key="FromAMPEmailAddress" value="AMP_DevB@jcrinc.com" />
    <add key="FromCorporateEmailAddress" value="AMP_DevB@jcrinc.com" />
    <add key="BCCEmailAddress" value="JCR-tracerssupport@jcrinc.com" />
    <!-- Store Procedure Timeout value-->
    <add key="SPCmdTimeout" value="120" />
    <!-- Report Output limit-->
    <add key="ReportOutputLimit" value="10000" />
    <!-- Initial test will be for Tracer Comprehensive Report -->
    <add key="ReportOutputLimitExcelView" value="30000" />
    <add key="WebAPI" value="http://eprodcommonapi.devb.devjcrinc.com/" />
    <add key="AppID" value="11" />
    <add key="AppPassword" value="2UoYMUbDtFa0OOHOGoG4w3OKkcvrBgXR" />
    <!-- Report launcher default hour and minute-->
    <add key="DefaultHour" value="4" />
    <add key="DefaultMinute" value="0" />
    <add key="EncryptionKey" value="JcrEpr0duct$" />
    <add key="Build.BuildNumber" value="0.0.0.0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>