
<div class="row" style="margin-left: -35px; margin-top: -15px;">
    <div class="col-xs-12 text-center" style="background-color:#e1dede; font-weight: 800; padding-bottom: 10px; padding-top:10px;">
        <input data-val="true" data-val-required="The RegulationType field is required." id="_RegulationType_TJC" name="RegulationType" type="radio" checked value="TJC">TJC
        <input id="_RegulationType_CMS" name="RegulationType" type="radio" value="CMS" style="margin-left:50px;">CMS
        <br />
    </div>
</div>
