@model IEnumerable<JCR.Reports.Models.CycleInfo>
    <div id="epchangedate">
       <h6><b>Effective Date</b></h6>
        <div class="margintop">

            @(Html.Kendo().MultiSelect()
          .Name("EPMigrationChangeDate")
                  .DataTextField("CycleName")
                  .DataValueField("CycleID")
          .Placeholder("Select Effective Date")
          .Filter(FilterType.Contains)
          .HighlightFirst(true)
          .BindTo(Model)
        .AutoClose(false)
           .Events(e =>
                    {
                        e.Select("onEPMigrationChangeDate");
                    })
                  .Value("-1")   
            )
        </div>
     </div>

<script>
    $(document).ready(function () {
        addarrowtomultiselect("EPMigrationChangeDate");
 
    });


    function onEPMigrationChangeDate(e) {
        var dataItem = this.dataSource.view()[e.item.index()];
        var values = this.value();
        if (dataItem.CycleName === "All") {
            $('#EPMigrationChangeDate').data("kendoMultiSelect").value([]);
        } else if (jQuery.inArray("-1", values)) {
            values = $.grep(values, function (value) {
                return value !== -1;
            });
            if (values == "") { this.value(values); }
        }

    }
  
</script>


















