@model JCR.Reports.Models.SearchList

<div class="checkbox" style="margin-bottom:-9px">
    <label id="IncludeCMS"><input id="chkIncludeCMS" style="float: left; margin-top:2px;"  type="checkbox" value="">Include CMS Crosswalk</label>
</div>