

<div class="checkbox" style="margin-bottom:-9px">
    <label id="IncludeFSA"><input id="IncludeFSAcheckbox" style="float: left; margin-top:2px;" type="checkbox" value="">Only Include FSA EPs</label>
</div>
