@model JCR.Reports.Models.SearchList

<div class="checkbox">
    <label id="IncludeFollowuplabel"><input id="IncludeFollowupcheckbox" style="float: left; margin-top:2px;"  type="checkbox" value="">Only include with Follow-up required.</label>
</div>


