@model JCR.Reports.Models.SearchList

<div class="checkbox" style="margin-bottom:-9px">
    <label id="IncludeDeptNoCompObs"><input id="chkIncludeDeptNoCompObs" style="float: left; margin-top:2px;" type="checkbox" value="">Include all Departments</label>
</div>
