@model JCR.Reports.Models.SearchList

<div class="checkbox">
    <label id="IncludeNAlabel"><input id="IncludeNAcheckbox" style="float: left; margin-top:2px;"  type="checkbox" value="">Include Not Applicable</label>
</div> 
