@(Html.Kendo().Button()
    .Name("resetfiltersbutton")
        .HtmlAttributes(new { type = "button", @class = "btn btn-primary btn-sm focusButton" })
        .Content("<span class='glyphicon glyphicon-refresh'></span><span>&nbsp;</span><span class='glyphfontsize'>Reset</span>")
)
