@(Html.Kendo().Button()
        .Name("btnSaveReport")
        .HtmlAttributes(new { type = "button", @class = "btn btn-primary btn-sm focusButton btnSaveReport" })
        .Content("<span class='glyphicon glyphicon-floppy-disk'></span><span>&nbsp;</span><span class='glyphfontsize'>Save to My Reports</span>")
)