@(Html.Kendo().Button()
        .Name("primarySearchButton1")
            .HtmlAttributes(new { type = "button", @class = "btn btn-primary btn-sm primarySearchButton focusButton" })
            .Content("<span class='glyphicon glyphicon-play'></span><span>&nbsp;</span><span class='glyphfontsize'>Generate</span>")
)