@model JCR.Reports.Models.SearchList
<div id="tracerList">
    <h6><b>Tracer Name</b></h6>
    <div class="margintop">
        @(Html.Kendo().MultiSelect()
                      .Name("TracersList")
                      .DataTextField("TracerCustomName")
                      .DataValueField("TracerCustomID")
                      .Placeholder("Select Tracers")
                      .HighlightFirst(true)
                      .Filter(FilterType.Contains)
                      .BindTo(Model.TracersLists)
                     .ValuePrimitive(false)
                     .AutoClose(false)
                              .Events(e =>
                            {
                                e.Select("onListSelect").Change("onTracerChange");
                            })
                     .Value("-1")
        )
    </div>
</div>

<script>
    $(document).ready(function () {
        addarrowtomultiselect("TracersList");
       // removedeleteoption("TracersList");
    });
    //function ontracerlistClose(e) {
    //    removedeleteoption("TracersList");
    //}
    function onListSelect(e) {
        var dataItem = this.dataSource.view()[e.item.index()];
        var values = this.value();
        if (dataItem.TracerCustomName === "All") {
            $('#TracersList').data("kendoMultiSelect").value([]);
        } else if (jQuery.inArray("-1", values)) {
            values = $.grep(values, function (value) {
                return value !== -1;
            });
            if (values == "") { this.value(values); }
        }

    }

    function onTracerChange(e) {
        if (typeof leastComplianctTracerChange == 'function') {
            leastComplianctTracerChange();
        }
    }

</script>



















