<div id="error_msg">
    <div id="showerror_msg" class="alert alert-info alert-dismissible" role="alert" style="display:none;">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <div id="show_msg"></div>
    </div>
</div>


