<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBAMP" connectionString="#{DBAMP}#" providerName="System.Data.SqlClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBAMP_WHSE" connectionString="#{DBAMP_WHSE}#" providerName="System.Data.SqlClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBMEdition01" connectionString="#{DBMEdition01}#" providerName="System.Data.SqlClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBMEdition01_Write" connectionString="#{DBMEdition01_Write}#" providerName="System.Data.SqlClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="AMPDbEntityContainer" connectionString="metadata=res://*/DataModel.AMPDBEntity.csdl|res://*/DataModel.AMPDBEntity.ssdl|res://*/DataModel.AMPDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;#{AMPDbEntityContainer}#&quot;" providerName="System.Data.EntityClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBMEdition01_Entities" connectionString="metadata=res://*/DataModel.DBMEdition.csdl|res://*/DataModel.DBMEdition.ssdl|res://*/DataModel.DBMEdition.msl;provider=System.Data.SqlClient;provider connection string=&quot;#{DBMEdition01_Entities}#&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>