<connectionStrings>
  <add name="DBAMP" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBAMP_Main;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
  <add name="DBAMP_WHSE" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBAMP_Main;User ID=Grace;Password=grace;ApplicationIntent=ReadOnly" providerName="System.Data.SqlClient" />
  <add name="DBMEdition01" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBMEdition01_Main;User ID=Grace;Password=grace;ApplicationIntent=ReadOnly" providerName="System.Data.SqlClient" />
  <add name="DBMEdition01_Write" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBMEdition01_Main;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
  <add name="AMPDbEntityContainer" connectionString="metadata=res://*/DataModel.AMPDBEntity.csdl|res://*/DataModel.AMPDBEntity.ssdl|res://*/DataModel.AMPDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JCRDEVESQL01\JCRDEVEXTRA01;initial catalog=DBAMP_Main;user id=Grace;password=grace;multipleactiveresultsets=True;application name=EntityFramework;applicationintent=ReadOnly&quot;" providerName="System.Data.EntityClient" />
  <add name="DBMEdition01_Entities" connectionString="metadata=res://*/DataModel.DBMEdition.csdl|res://*/DataModel.DBMEdition.ssdl|res://*/DataModel.DBMEdition.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JCRDEVESQL01\JCRDEVEXTRA01;initial catalog=DBMEdition01_Main;user id=Grace;password=grace;multipleactiveresultsets=True;application name=EntityFramework;applicationintent=ReadOnly&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>