<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="EnforceSSL" value="#{EnforceSSL}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="JcrPortalUrl" value="#{JcrPortalUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracersUrl" value="#{TracersUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracersRoboHelpUrl" value="#{TracersRoboHelpUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="ERTracersRoboHelpUrl" value="#{ERTracersRoboHelpUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="AmpUrl" value="#{AmpUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="E-DitionUrl" value="#{E-DitionUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="AdminUrl" value="#{AdminUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="WebAPI" value="#{WebAPI}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="JCRAPI" value="#{JCRAPI}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="LOCALDEBUG" value="#{LOCALDEBUG}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="SMTPserver" value="#{SMTPserver}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="FromCorporateEmailAddress" value="#{FromCorporateEmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="Build.BuildNumber" value="#{Build.BuildNumber}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="ReportOutputLimit" value="#{ReportOutputLimit}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="ReportPivotLimit" value="#{ReportPivotLimit}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="ReportOutputLimitExcelView" value="#{ReportOutputLimitExcelView}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="FromEmailAddress" value="#{FromEmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="FromEREmailAddress" value="#{FromEREmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="FromAMPEmailAddress" value="#{FromAMPEmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="BCCEmailAddress" value="#{BCCEmailAddress}#" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace" configSource="#{connectionStringsFile}#">
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState timeout="#{sessionState.timeout}#" xdt:Transform="SetAttributes(timeout)" />
    <httpRuntime xdt:Transform="SetAttributes(fcnMode)" fcnMode="Disabled" />
  </system.web>
  <system.webServer>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address, binding, bindingConfiguration)"
                address="#{IProcessEmail}#"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IProcessEmail"
                contract="CCMService.IProcessEmail"
                name="WSHttpBinding_IProcessEmail"/>
    </client>
  </system.serviceModel>
</configuration>